#app {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: $dark;
  color: $primary;
}

.q-tab__label {
  color: $primary;
  font-size: 18px;
}