// src/css/quasar.variables.scss

$primary   : #ffffff;
$secondary : #bab79c;
$accent    : #9C27B0;

$dark      : #000000;
$dark-page : #000000;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;